@page "/ticket"
@inject IConfiguration Configuration

<h3>Ticket List</h3>

@if (Tickets == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <div class="row">
        <SearchTicket OnSearch="HandleSearchForm"></SearchTicket>
    </div>

    <div class="row mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Created by
                    </th>
                    <th>
                        Last Modified By
                    </th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Tickets)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td><StatusLabel Status="(int)item.Status"></StatusLabel></td>
                        <td>@item.CreatedBy - @item.CreatedDate.ToString(Configuration["DateTimeFormat"])</td>
                        <td>@item.LastModifiedBy - @item.LastModifiedDate?.ToString(Configuration["DateTimeFormat"])</td>
                        <td>
                            <a href="/ticket/@item.Id" class="btn btn-primary">Detail</a>
                            <button class="btn btn-danger" @onclick="()=> OnDeleteTicket(item.Id)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"></Pagination>
            </tfoot>
        </table>
    </div>
    <Confirmation ConfirmationMessage="Are you sure to delete?"
                  ConfirmationTitle="Delete Ticket"
                  @ref="DeleteConfirmation"
                  ConfirmationChanged="OnConfirmDeleteTicket">
    </Confirmation>
}